.custom-navbar {
    background-color: #2471ed;
    padding: 5px 10px;
}

.forma-img {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.img-first {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.img-second {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.custom-footer {
    background-color: #2471ed;
    padding: 10px 0;
}

.img-custom {
    margin-top: 20px;
}

.icon-responsive {
    font-size: 1.5rem; 
}

/* AQUI VAN LOS MEDIA QUERY */

@media (max-width: 992px) {
    .nav-custom {
        border-bottom: rgb(255, 255, 255) solid 1px;
    }
}

@media (min-width: 992px) {
    .img-custom {
        margin-top: 100px;
    }
  }
@media (max-width: 992px) {
    .img-first, .img-second {
        clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 75%, 50% 100%, 0 75%, 0% 70%, 0% 35%, 0 0);
    }
  }

  @media (max-width: 992px) {
    .custom-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .icon-responsive {
        font-size: 2rem; 
    }
}


